.body-tuyendung{
	margin: 50px ;
	width: 90%;
	display: block;
}
.tuyendung-header{
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	font-size: 20px;
	background: rgb(255, 255, 255);
}
.tuyendung-info{
	margin: 10px;
}
.tieude{
	background: rgb(31, 30, 30);
	color: rgb(181, 182, 182);
	text-align: center;
	font-size: 28px;
	border-radius: 20px;
}
.tuyendung-noidung{
	margin:10px 0 15px 25px;
}
ul li span{
	font-weight: bold;
	color: red;
}